@import "src/scss/app";

.main {
  @extend %container;
  padding-top: 50px;

  &__content {
    display: flex;
  }

  .slider {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      width: 400px;
    }
  }
}
