@import "src/scss/app";

.main {
  @extend %container;
  padding-top: 90px;

  &__content {
    display: flex;
  }

  .slider {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      width: 448px;
    }
  }

  .description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 448px;
    }

    &__brand {
      color: $orange-color;
      font-weight: 600;
      margin-bottom: 28px;
      font-size: 14px;
    }

    &__title {
      font-weight: 800;
      color: $black-color;
      font-size: 40px;
      margin-bottom: 42px;
    }

    &__text {
      color: $grey-color;
      line-height: 1.7;
      margin-bottom: 36px;
    }

    &__price {
      font-weight: 650;
      font-size: 32px;
      display: flex;
      align-items: center;
    }

    &__subprice {
      margin-top: 14px;
      color: $grey-color;
      font-weight: 600;
      text-decoration: line-through;
    }

    &__sale {
      color: $orange-color;
      font-size: 16px;
      padding: 4px 8px;
      background-color: $orange-color-primary;
      border-radius: 6px;
      margin-left: 15px;
    }

    &__purchase {
      display: flex;
      margin-top: 40px;
    }

    &__button {
      height: 56px;
      width: 272px;
      border-radius: 10px;
      margin-left: 15px;
      text-transform: none;
      font-weight: 600;
      background-color: $orange-color;
      font-family: 'Kumbh Sans', sans-serif;

      &:hover {
        background-color: #f8ac6a;
      }
    }

    &__plus_minus {
      display: flex;
      height: 56px;
      width: 156px;
      min-width: 156px;
      background-color: $grey-color-primary;
      border-radius: 10px;
      align-items: center;
      justify-content: space-around;
    }
  }
}
