@import "src/scss/app";

.main {
  @extend %container;
  padding-top: 90px;

  &__content {
    display: flex;
    flex-direction: row;
  }

  .slider {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      width: 448px;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 448px;

      @media screen and (max-width: 999px) {
        padding-bottom: 50px;
      }

      @media screen and (max-width: 480px) {
        width: 100%;
        margin: 0 20px;
      }
    }

    &__brand {
      color: $orange-color;
      font-weight: 600;
      margin-bottom: 26px;
      font-size: 14px;

      @media screen and (max-width: 825px) {
        margin-top: 30px;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 18px;
      }
    }

    &__title {
      font-weight: 800;
      color: $black-color;
      font-size: 40px;
      margin-bottom: 42px;

      @media screen and (max-width: 600px) {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    &__text {
      color: $grey-color;
      line-height: 1.7;
      margin-bottom: 36px;

      @media screen and (max-width: 600px) {
        margin-bottom: 30px;
      }
    }

    &__price_container {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__price {
      font-weight: 650;
      font-size: 32px;
      display: flex;
      align-items: center;
    }

    &__subprice {
      margin-top: 14px;
      color: $grey-color;
      font-weight: 600;
      text-decoration: line-through;

      @media screen and (max-width: 600px) {
        margin-top: 7px;
      }
    }

    &__sale {
      color: $orange-color;
      font-size: 16px;
      padding: 4px 8px;
      background-color: $orange-color-primary;
      border-radius: 6px;
      margin-left: 15px;
    }

    &__purchase {
      display: flex;
      margin-top: 40px;

      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
    }

    &__button {
      height: 55px;
      width: 277px;
      border-radius: 10px;
      margin-left: 15px;
      text-transform: none;
      font-weight: 600;
      background-color: $orange-color;
      font-family: 'Kumbh Sans', sans-serif;

      &:hover {
        background-color: #f8ac6a;
      }

      @media screen and (max-width: 480px) {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &__plus_minus {
      display: flex;
      height: 56px;
      width: 156px;
      min-width: 156px;
      background-color: $grey-color-primary;
      border-radius: 10px;
      align-items: center;
      justify-content: space-around;

      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .count {
        font-weight: 600;
        font-size: 18px;
        width: 19px;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 999px) {
    &__content {
      flex-direction: column;
    }

    .slider, .description {
      width: 100%;
    }
  }

  @media screen and (max-width: 825px) {
    padding-top: 0;
  }
}