@import "src/scss/app";

.header {
  @extend %container;
  height: 113px;
  display: flex;
  justify-content: space-between;
  border-bottom: hsl(220, 14%, 75%) 2px solid;

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    color: $grey-color;
  }

  &__mobilenav {
    display: none!important;
    margin: 0 10px 0 20px!important;
  }

  &__navitem {
    margin: 0 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 97%;
    border-bottom: 5px transparent solid;

    &:hover {
      color: black;
      border-bottom: 5px $orange-color solid;
    }
  }

  &__logo {
    margin-right: 58px;

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }

  &__userimg {
    height: 50px;
    width: auto;
    cursor: pointer;
    border: transparent solid;
    border-radius: 30px;

    &:hover {
      border: $orange-color solid;
    }
  }

  &__cart {
    margin-right: 46px!important;
    cursor: pointer;
  }

  @media screen and (max-width: 825px) {

    height: 66px;
    border-bottom: none;

    &__navitem {
      display: none;
    }

    &__mobilenav {
      display: block!important;
    }

    &__userimg {
      height: 25px;
    }

    &__cart {
      margin-right: 23px!important;
    }

    &__userimg {
      margin-right: 20px;
    }
  }
}

.drawer {
  width: 250px;

  &__text {
    span {
      font-family: 'Kumbh Sans', sans-serif!important;
      color: black!important;
      font-weight: 700!important;
      margin-left: 10px;
    }
  }
}

.bucket__title {
  padding: 26px;
  font-weight: 700;
  width: 360px;
  border-bottom: hsl(220, 14%, 75%) 1px solid;
}

.bucket__body {
  padding: 26px;
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}