@import "colors";

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

%container {
  max-width: 1112px;
  margin: 0 auto;

  @media screen and (max-width: 1135px) {
      margin: 0 10px;
  }

  @media screen and (max-width: 825px) {
    margin: 0 0;
  }
}


.carousel {

  .slider-wrapper {

    .selected {
      z-index: 0!important;
      cursor: pointer;
    }
  }

  .thumbs {
    padding: 0;

    .thumb:not(:first-child) {
      margin: 0 14px;
    }

    .thumb {
      padding: 0!important;
      border-radius: 15px;
      cursor: pointer;
      width: 93px!important;
    }

    .thumb:hover {
      border-color: $orange-color;
    }

    .selected {
      border-radius: 15px;
      border-color: $orange-color;

      img {
        opacity: 0.5;
      }
    }

  }

  .thumbs-wrapper {
    margin: 0!important;

    @media screen and (max-width: 825px){
      display: none!important;
    }

    img {
      border-radius: 10px;
    }
  }

  .slide img {
    border-radius: 20px;

    @media screen and (max-width: 825px){
      border-radius: 0;
    }
  }
}

.control-slider-button {
  position: absolute!important;
  top: 46%;
  background-color: white!important;

  img {
    width: 10px;
  }

  &_next {
    right: 15px;
  }

  &_prev {
    left: 15px;
  }
}

@media screen and (min-width: 825px){
  .control-slider-button {
    display: none!important;
  }
}